body{
	background-image: url(../../assets/images/bg_image.jpg);
}

h1{
	text-align: center;
	font-size: 55px;

}

p{
	margin-left: 20px;
	font-size: 18px;
}

.container {
	background: rgba(255, 255, 255, 0.8);
	margin: auto auto;
	width: 500px;
	height: 950px;
}

.container-bg{
	background-color: white;
	width:100%;
	height:100%;
	opacity: 0.5;
}

.button{
	width: 250px;
	height: 50px;
	font-size: 35px;
	text-align: center;
	color: white;
	background-color: blue;
	margin: auto auto;
}

.button-hover{
	width: 250px;
	height: 50px;
	font-size: 35px;
	text-align: center;
	color: white;
	background-color: lightblue;
	margin: auto auto;
}